.custom-scrollmenu .react-horizontal-scrolling-menu--scroll-container {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}
.custom-scrollmenu .react-horizontal-scrolling-menu--scroll-container::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
.react-horizontal-scrolling-menu--scroll-container {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}
.react-horizontal-scrolling-menu--scroll-container::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
