/* Ensure Swiper container and slides have no background or shadow */
.mySwiper {
  background: transparent !important;
  box-shadow: none !important;
}
.swiper-slide {
  background: transparent !important;
  box-shadow: none !important;
}

.testimonial-avatar {
  width: 80px;
  height: 80px;
  border-radius: 9999px;
  object-fit: cover;
}