@import url('https://fonts.googleapis.com/css2?family=Amiko:wght@400;600;700&family=DynaPuff:wght@400..700&display=swap');
@import "tailwindcss";

@theme {
  --font-heading: "DynaPuff", system-ui;
  --font-pg: "Amiko", sans-serif;

  /* Colors */

  --color-base-black: #062D3E;
  --color-pg-base: #195974;
  --color-base-white: #FFFDF9;
  --color-base-yellow: #FFD982;
  --color-base-rose: #E86F69;
  --color-base-orange: #F3823D;
  --color-base-rose: #E9544C;
  --color-base-rose-light: #F6CFCD;
  --color-base-red: #AF1C1C;
  --color-red-medium: #EA4B4B;
  --color-red-light: #FCE6E6;
  --color-gray-light: #E3E1DE;
  --color-gray-medium: #9A9494;
  --color-gray-dark: #6D6A6A;

  --color-blue-coral: #A6E0DC;
  --color-pink-peachy: #FE928C;
  --color-yellow-mango: #F9B659;
  --color-purple-eggplant: #87529D;
  --color-yellow-dark: #FAAB37;
  --color-hover-rose-dark: #D92727;

  --color-white-bg: #FFFAF2;
  --color-blue-bg: #E6EEF0;
  --color-yellow-bg: #FFF4DF;
  --color-yellow-bg-light: #FFFAF2;

  --color-gray-border: #D9D9D9;

  /* Shadows */
  --shadow-card-primary: 0px 6px 20px -5px rgba(0, 0, 0, 0.1);
  
  /* Leading or Line Spacing */
  --leading-pg-base: 26px;
  --leading-pg-lg: 29px;

}

h1 {
  font-family: var(--font-heading);
}

p,
a {
  font-family: var(--font-pg);
}

a.active {
  color: var(--color-base-rose) !important;
  font-weight: 700;
}

.login-form label {
  font-family: var(--font-heading);
}