@import url('https://fonts.googleapis.com/css2?family=Amiko:wght@400;600;700&family=DynaPuff:wght@400..700&display=swap');
@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

h1,
h2,
h3 {
  font-family: var(--font-heading);
}

p,
a {
  font-family: var(--font-pg);
}

.nav-container a.active,
.db-navitems a.active {
  color: var(--color-base-rose) !important;
  font-weight: 700;
}

label {
  font-family: var(--font-heading);
  color: var(--color-black-base)
}

.pet-add-form label {
  color: var(--color-label-form);
}

@theme {

  /* Fonts */

  --font-pg: var(--font-paragraph);
  --font-heading: var(--font-head);
  /* Main colors */
  --color-background-primary: var(--background);
  --color-background-secondary: var(--background-dark);
  --color-background-tertiary: var(--background-ter);
  --color-background-quaternary: var(--background-quat);
  --color-background-head-text: var(--bg-head-text);

  --color-heading-color: var(--text-heading);
  --color-pg-base: var(--paragraph-prim);
  --color-pg-black: var(--black-second);

  --color-base-white: var(--white-prim);
  --color-black-base: var(---black-prim);
  --color-base-orange: var(--orange-prim);
  --color-base-rose: var(--rose-prim);
  --color-base-rose-light: var(--rose-lt);
  --color-base-rose-dark: var(--rose-dark);
  --color-red-base: var(--red-prim);
  --color-red-medium: var(--red-mid);
  --color-red-light: var(--red-lt);
  --color-gray-extra-light: var(--gray-extra-lt);
  --color-gray-light: var(--gray-lt);
  --color-gray-medium: var(--gray-md);
  --color-gray-dark: var(--gray-dr);
  --color-yellow-bg: var(--yellow-bg-prim);
  --color-blue-coral: var(--blue-cr);
  --color-blue-bg: var(--blue-cr-lt);
  --color-green-primary: var(--green-main);
  --color-blue-regular: var(--blue-norm);

  --color-gray-border: var(--border-gray-prim);
  --color-card-border-prim: var(--border-card);
  --color-card-br-hover: var(--card-border-hov);

  --color-navitem-base: var(--navlink-prim);
  --color-navitem-base-mb: var(--navlink-mb);
  --color-navitem-hover: var(--navlink-hover);
  --color-toggle-bg-base: var(--toggle-prim);
  --color-toggle-bg-hover: var(--toggle-hover);
  --color-toggle-icon: var(--toggle-icon);
  --color-menu-mobile: var(--menu-mob);

  --color-label-form: var(--label-form);

  /* Sidebar */
  --color-sidebar: var(--sidebar);
  --color-sidebar-secondary: var(--sidebar-sec);
  --color-sidebar-second-border: var(--sidebar-sb);
  --color-sidebar-nav-hover: var(--sidebar-link-hover);
  --color-sidebar-navitem-text: var(--sidebar-link-txt);
  --color-sidebar-navitem-text-hover: var(--sidebar-link-txt-hover);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-sb);
  --color-sidebar-ring: var(--sidebar-ring);

  /* Shadows */
  --shadow-card-primary: var(--card-shadow);

  /* Leading or Line Spacing */
  --leading-pg-base: 26px;
  --leading-pg-lg: 29px;
}

:root {
  /* Main*/
  --font-paragraph: 'Amiko', 'sans-serif';
  --font-head: 'DynaPuff', 'sans-serif';

  --background: oklch(0.9868 0.0118 79.79);
  --background-dark: oklch(0.9702 0.03 83.63);
  --background-ter: oklch(0.994 0 0);
  --background-quaternary: oklch(0.9712 0.0253 78.92);
  --text-heading: oklch(0.2801 0.0519 232.1);
  --bg-head-text: oklch(0.9569 0.044 83.91);

  --rose-prim: oklch(0.645 0.1859 26.69);
  --red-prim: oklch(0.4865 0.1814 27.32);
  --rose-lt: oklch(0.9426 0.0241 17.59);
  --rose-dark: oklch(0.5723 0.2118 27.2);
  --white-prim: oklch(0.9945 0.0057 84.57);
  --black-prim: oklch(0.2801 0.0519 232.1);
  --black-second: oklch(0.4373 0.0765 230.68);
  --paragraph-prim: oklch(0.4373 0.0765 230.68);
  --navlink-prim: oklch(0.4373 0.0765 230.68);
  --navlink-hover: oklch(0.645 0.1859 26.69);
  --navlink-mb: oklch(0.4373 0.0765 230.68);
  --toggle-prim: oklch(0.8944 0.1068 82.68);
  --toggle-hover: oklch(0.7995 0.1538 71.7);
  --toggle-icon: oklch(0.4268 0.004 17.31);
  --orange-prim: oklch(0.7215 0.1604 49.1);
  --red-mid: oklch(0.6365 0.1958 24.62);
  --red-lt: oklch(0.9426 0.0241 17.59);
  --yellow-bg-prim: oklch(0.9702 0.03 83.63);
  --menu-mob: oklch(0.2801 0.0519 232.1);
  --gray-extra-lt: oklch(0.9523 0.0029 84.56);
  --gray-lt: oklch(0.9105 0.0046 78.3);
  --gray-md: oklch(64.282% 0.00835 16.894);
  --gray-dr: oklch(55.474% 0.00369 16.328);
  --blue-cr: oklch(0.866 0.0593 190.8);
  --blue-cr-lt: oklch(0.9437 0.009 214.34);
  --blue-norm: oklch(0.5487 0.2224 263.44);
  --border-gray-prim: oklch(77.039% 0.00598 84.482);
  --border-card: oklch(0.8901 0.0081 73.74);
  --card-border-hov: oklch(0.8895 0.0557 250.93);

  --label-form: oklch(0.2801 0.0519 232.1);

  --green-main: oklch(0.6745 0.1665 153.67);

  /* Sidebar */
  --sidebar: oklch(0.9702 0.03 83.63);
  --sidebar-sec: oklch(0.9702 0 0);
  --sidebar-sb: oklch(41.279% 0.16874 29.135);
  --sidebar-link-txt: oklch(0.527 0.0038 17.28);
  --sidebar-link-txt-hover: oklch(0.2801 0.0519 232.1);
  --sidebar-link-hover: oklch(0.7995 0.1538 71.7);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.9105 0.0046 78.3);
  --sidebar-ring: oklch(0.708 0 0);

  /* Shadow */
  --card-shadow: 0px 10px 37px -7px rgba(0, 0, 0, 0.1);

}

.dark {
  /* Main */
  --background: oklch(0.1822 0 0);
  --background-dark: oklch(0.1904 0.004 106.77);
  --background-ter: oklch(0.1822 0 0);
  --background-quat: oklch(0.2174 0.0019 106.56);
  --bg-head-text: oklch(0.2123 0.0058 106.88);
  --text-heading: oklch(0.6964 0.1594 25.2);
  --white-prim: oklch(0.9851 0 0);
  --paragraph-prim: oklch(0.9851 0 0);
  --navlink-prim: oklch(0.9851 0 0);
  --toggle-prim: oklch(0.645 0.1859 26.69);
  --toggle-hover: oklch(0.5723 0.2118 27.2);
  --toggle-icon: oklch(0.9851 0 0);
  --menu-mob: oklch(0.9851 0 0);
  --border-card: oklch(0.3848 0.0027 17.27);
  --card-border-hov: oklch(0.8698 0.0868 62.34);

  --label-form: oklch(0.7995 0.1538 71.7);

  /* Sidbar Dark */
  --sidebar: oklch(0.1822 0 0);
  --sidebar-sec: oklch(0.1822 0 0);
  --sidebar-sb: oklch(0.9851 0 0);
  --sidebar-link-txt: oklch(0.9851 0 0);
  --sidebar-link-txt-hover: oklch(0.9851 0 0);
  --sidebar-link-hover: oklch(0.645 0.1859 26.69);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(0.9851 0 0);
  --sidebar-ring: oklch(0.439 0 0);


  /* Shadow */
  --card-shadow: 0px 12px 24.5px 8px rgba(32, 30, 30, 0.20);


}

.react-select__control {
  @apply w-full !border !border-gray-border !rounded-lg transition-all duration-200 !bg-base-white min-h-[48px] shadow-none;
}

.react-select__control--is-invalid .react-select__value-container {
  @apply !border !border-red-base !bg-red-light;
}

.react-select__value-container {
  @apply !px-4 !py-3 !rounded-lg;
}

.react-select__placeholder {
  @apply !text-gray-400;
}

.react-select__single-value {
  @apply !text-black-base;
  font-family: inherit;
  font-size: 1rem;
}

.react-select__input-container {
  @apply !m-0 !p-0;
}

.react-select__placeholder {
  @apply !text-gray-medium !my-0;
  font-family: inherit;
  font-size: 1rem;
}

.react-select__indicator-separator {
  display: none;
}

.react-select__menu {
  z-index: 20;
  font-size: 1rem;
  font-family: inherit;
}

.react-select-container__value-container {
  @apply !px-4 !py-3 !rounded-lg;
}

/* Sweet alert */
.swal-title-custom-font {
  font-family: var(--font-pg) !important;
  font-size: 1.5rem !important;
}

.pet-description h1,
.pet-description h2,
.pet-description h3 {
  color: var(--color-pg-base);
  font-size: 1.3rem;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}



/* Stripe Element */

.StripeElement,
.StripeElementIdeal,
.StripeElementP24,
.StripeElementEPS,
.StripeElementFpx {
  display: block;
  margin: 10px 0 20px 0;
  width: 100%;
  min-width: 340px;
  max-width: 500px;
  padding: 10px 14px;
  box-shadow: rgba(50, 50, 93, 0.14902) 0px 1px 3px,
    rgba(0, 0, 0, 0.0196078) 0px 1px 0px;
  border-radius: 4px;
  background: white;
}

.StripeElement--focus,
.StripeElementIdeal--focus,
.StripeElementP24--focus,
.StripeElementEPS--focus,
.StripeElementFpx--focus {
  box-shadow: rgba(50, 50, 93, 0.109804) 0px 4px 6px,
    rgba(0, 0, 0, 0.0784314) 0px 1px 3px;
  -webkit-transition: all 150ms ease;
  transition: all 150ms ease;
}

.StripeElement.loading {
  height: 41.6px;
  opacity: 0.6;
}

.StripeElementIdeal,
.StripeElementP24,
.StripeElementEPS,
.StripeElementFpx {
  padding: 0;
}


/* Progress Bar */
.CircularProgressbar-text {
  dominant-baseline: middle;
  alignment-baseline: middle;
  text-anchor: middle;
  font-size: 2rem;
  transform: translateY(2%);
}