@import url('https://fonts.googleapis.com/css2?family=Amiko:wght@400;600;700&family=DynaPuff:wght@400..700&display=swap');
@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

h1 {
  font-family: var(--font-heading);
}

p,
a {
  font-family: var(--font-pg);
}

a.active {
  color: var(--color-base-rose) !important;
  font-weight: 700;
}

.login-form label {
  font-family: var(--font-heading);
}

@theme {

  /* Fonts */

  --font-pg: var(--font-paragraph);
  --font-heading: var(--font-head);
  /* Main colors */
  --color-background-primary: var(--background);
  --color-background-secondary: var(--background-dark);

  --color-heading-color: var(--text-heading);
  --color-pg-base: var(--paragraph-prim);
  --color-pg-black: var(--black-second);

  --color-base-white: var(--white-prim);
  --color-black-base: var(---black-prim);
  --color-base-orange: var(--orange-prim);
  --color-base-rose: var(--rose-prim);
  --color-base-rose-light: var(--rose-lt);
  --color-base-rose-dark: var(--rose-dark);
  --color-red-base: var(--red-prim);
  --color-red-medium: var(--red-mid);
  --color-red-light: var(--red-lt);
  --color-gray-light: var(--gray-lt);
  --color-gray-medium: var(--gray-md);
  --color-gray-dark: var(--gray-dr);
  --color-yellow-bg: var(--yellow-bg-prim);
  --color-blue-coral: var(--blue-cr);
  --color-gray-border: var(--border-gray-prim);
  --color-blue-bg: var(--blue-cr-lt);

  --color-navitem-base: var(--navlink-prim);
  --color-navitem-base-mb: var(--navlink-mb);
  --color-navitem-hover: var(--navlink-hover);
  --color-toggle-bg-base: var(--toggle-prim);
  --color-toggle-bg-hover: var(--toggle-hover);
  --color-toggle-icon: var(--toggle-icon);
  --color-menu-mobile: var(--menu-mob);

  /* Sidebar */
  --color-sidebar: var(--sidebar);
  --color-sidebar-second-border: var(--sidebar-sb);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  /* Shadows */
  --shadow-card-primary: 0px 6px 20px -5px rgba(0, 0, 0, 0.1);

  /* Leading or Line Spacing */
  --leading-pg-base: 26px;
  --leading-pg-lg: 29px;
}

:root {
  /* Main*/
  --font-paragraph: 'Amiko', 'sans-serif';
  --font-head: 'DynaPuff', 'sans-serif';
  --background: oklch(0.9868 0.0118 79.79);
  --background-dark: oklch(0.9702 0.03 83.63);
  --text-heading: oklch(0.2801 0.0519 232.1);
  --rose-prim: oklch(0.645 0.1859 26.69);
  --red-prim: oklch(0.4865 0.1814 27.32);
  --rose-lt: oklch(0.9426 0.0241 17.59);
  --rose-dark: oklch(0.5723 0.2118 27.2);
  --white-prim: oklch(0.9945 0.0057 84.57);
  --black-prim: oklch(0.2801 0.0519 232.1);
  --black-second: oklch(0.4373 0.0765 230.68);
  --paragraph-prim: oklch(0.4373 0.0765 230.68);
  --navlink-prim: oklch(0.4373 0.0765 230.68);
  --navlink-hover: oklch(0.645 0.1859 26.69);
  --navlink-mb: oklch(0.4373 0.0765 230.68);
  --toggle-prim: oklch(0.8944 0.1068 82.68);
  --toggle-hover: oklch(0.7995 0.1538 71.7);
  --toggle-icon: oklch(0.4268 0.004 17.31);
  --orange-prim: oklch(0.7215 0.1604 49.1);
  --red-mid: oklch(0.6365 0.1958 24.62);
  --red-lt: oklch(0.9426 0.0241 17.59);
  --yellow-bg-prim: oklch(0.9702 0.03 83.63);
  --menu-mob: oklch(0.2801 0.0519 232.1);
  --gray-lt: oklch(0.9105 0.0046 78.3);
  --gray-md: oklch(0.6717 0.0071 17.33);
  --gray-dr: oklch(0.527 0.0038 17.28);
  --blue-cr: oklch(0.866 0.0593 190.8);
  --blue-cr-lt: oklch(0.9437 0.009 214.34);
  --border-gray-prim: oklch(0.9105 0.0046 78.3);

  /* Sidebar */
  --sidebar: oklch(0.9868 0.0118 79.79);
  --sidebar-sb: oklch(0.527 0.0038 17.28);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.9105 0.0046 78.3);
  --sidebar-ring: oklch(0.708 0 0);

}

.dark {
  /* Main */
  --background: oklch(0.1822 0 0);
  --background-dark: oklch(0.1904 0.004 106.77);
  --text-heading: oklch(0.6964 0.1594 25.2);
  --white-prim: oklch(0.9851 0 0);
  --paragraph-prim: oklch(0.9851 0 0);
  --navlink-prim: oklch(0.9851 0 0);
  --toggle-prim: oklch(0.645 0.1859 26.69);
  --toggle-hover: oklch(0.5723 0.2118 27.2);
  --toggle-icon: oklch(0.9851 0 0);
  --menu-mob: oklch(0.9851 0 0);

  /* Sidbar Dark */
  --sidebar: oklch(0.1822 0 0);
  --sidebar-sb: oklch(0.9851 0 0); 
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(0.9851 0 0);
  --sidebar-ring: oklch(0.439 0 0);
}